@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* ===Variables=== */

:root{
    --header-height: 3rem;
}

:root{
    --first-color: #003D5B ;
    --second-color: #334A51;
    --third-color: #E6F4F1;
    --fourth-color:#00A9BE;
  }
:root{
    --body-font: 'Poppins', sans-serif;
    --section-font: 'IBM Plex Sans', sans-serif;
    --content-font: 'Roboto', sans-serif;
}


:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

*,::before,::after{
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
}

.btn{
    display: inline-block;
    color: #FFFFFF;
    background-color: var(--first-color);
    margin:var(--mb-3);
    font-weight: var(--font-semi);
}

.btn:hover{
    background-color: var(--fourth-color);
    color: #FFFFFF;
    font-weight: var(--font-semi);
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

h1,h2,p{
  margin: 0;
}

a{
   text-decoration: none; 
}

/* ===CLASS CS=== */
.section-title{
    position:relative;
    color: var(--first-color);
    text-align: center;
    padding-bottom: 1.5rem;
    font-family: var(--section-font);
}

.section-title::after{
    position: absolute;

}

/* === Nav === */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    /* background: rgba(0, 0, 0, 0.6)!important; */
}

.navbar-brand{
    font-weight: 700;
    letter-spacing: .1rem;
    padding-left: .7rem;
}

.navbar-nav li{
    padding-right: .7rem;
}

.navbar-light .navbar-nav .nav-link{
    color:var(--second-color);
    padding-top: .8rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--fourth-color);
}
/* === HOME === */
#home{
    height: calc(100vh - 5rem);
    background-color: var(--third-color);
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: var(--body-font);
}

#home .txt-rotate{
  position: relative;
}

#home .txt-rotate:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 15px;
  width: 100%;
  border: solid 6px var(--fourth-color);
  border-color: var(--fourth-color) transparent transparent transparent;
  border-radius: 50%;
}

#home img{
    max-height: 100px;
}

.landing-text .display-1{
    color: var(--first-color);
}

.home_social_icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 2rem;
    color: var(--first-color);
}

.home_social_icon:hover{
    color: var(--fourth-color);
}

/* ===WORK== */
#projects{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#projects .card{
    text-align: center;
    max-width: max-content; 
    height: 420px;
    font-family: var(--content-font);
}

#projects .card .card-title{
    color: var(--first-color);
}

.project_social_icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 2rem;
    color: var(--fourth-color);
}

.project_social_icon:hover{
    color: var(--first-color);
}

/* EMOJI SECTION */

.fun{
   width: 100%;
   margin-bottom: 2rem;
   display: inline-block;
   color: #FFFFFF;
   background-color: var(--fourth-color);
   margin:var(--mb-3);
   font-weight: var(--font-semi);
   border: none;
}

.gif{
    max-width: 100%;
}

/* == TIL == */
#til{
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: var(--content-font);
}

/*== FOOTER ==*/ 
footer{
    padding-top: 3rem;
    padding-bottom: 2rem;
}